CompileFlags:
    CompilationDatabase: D:/Works/pybind11-Demo/build/debug/MSVC_x64-debug
    Add:
        - "-IC:/Applications/Microsoft Visual Studio/2019/Community/VC/Tools/MSVC/14.29.30133/ATLMFC/include"
        - "-IC:/Applications/Microsoft Visual Studio/2019/Community/VC/Tools/MSVC/14.29.30133/include"
        - "-IC:/Windows Kits/10/Include/10.0.19041.0/ucrt"
        - "-IC:/Windows Kits/10/Include/10.0.19041.0/shared"
        - "-IC:/Windows Kits/10/Include/10.0.19041.0/um"
        - "-IC:/Windows Kits/10/Include/10.0.19041.0/winrt"
        - "-IC:/Windows Kits/10/Include/10.0.19041.0/cppwinrt"
